<h6>Total Published Research</h6>

<p>ISI Paper</p>
<button
    fullWidth
    class="cancel"
    nbButton
    status="primary"
    [hidden]="disabled"
    (click)="onNew()">
    Add new
</button>
<ng2-smart-table [settings]="settings"
    [source]="source"
    (userRowSelect)="onRowSelect($event)">
</ng2-smart-table>

<p>Other International Paper</p>
<button
    fullWidth
    class="cancel"
    nbButton
    status="primary"
    [hidden]="disabled"
    (click)="onNew()">
    Add new
</button>
<ng2-smart-table [settings]="settings"
    [source]="source"
    (userRowSelect)="onRowSelect($event)">
</ng2-smart-table>

<p>National Paper</p>
<button
    fullWidth
    class="cancel"
    nbButton
    status="primary"
    [hidden]="disabled"
    (click)="onNew()">
    Add new
</button>
<ng2-smart-table [settings]="settings"
    [source]="source"
    (userRowSelect)="onRowSelect($event)">
</ng2-smart-table>

<p>Conference Reports</p>
<button
    fullWidth
    class="cancel"
    nbButton
    status="primary"
    [hidden]="disabled"
    (click)="onNew()">
    Add new
</button>
<ng2-smart-table [settings]="settings"
    [source]="source"
    (userRowSelect)="onRowSelect($event)">
</ng2-smart-table>

<p>Others</p>
<button
    fullWidth
    class="cancel"
    nbButton
    status="primary"
    [hidden]="disabled"
    (click)="onNew()">
    Add new
</button>
<ng2-smart-table [settings]="settings"
    [source]="source"
    (userRowSelect)="onRowSelect($event)">
</ng2-smart-table>
