<nb-accordion multi>

  <nb-accordion-item #item>
      <nb-accordion-item-header>
          Personal Information
      </nb-accordion-item-header>
      <nb-accordion-item-body>
          <ngx-personal-information></ngx-personal-information>
      </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
      <nb-accordion-item-header>
          Education
      </nb-accordion-item-header>
      <nb-accordion-item-body>
          <ngx-education></ngx-education>
      </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
      <nb-accordion-item-header>
          Career
      </nb-accordion-item-header>
      <nb-accordion-item-body>
          <ngx-career></ngx-career>
      </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
      <nb-accordion-item-header>
          Foreign Language
      </nb-accordion-item-header>
      <nb-accordion-item-body>
          <ngx-foreign-languages></ngx-foreign-languages>
      </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
      <nb-accordion-item-header>
          Experience and Researches
      </nb-accordion-item-header>
      <nb-accordion-item-body>
          <ngx-experience-and-researches></ngx-experience-and-researches>
      </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>
