<nb-card>
  <nb-card-body>
    <form>
      <div class="form-group row">
        <label for="language" class="label col-md-2 col-form-label">Language</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="language"
                placeholder="language"
                [(ngModel)]="data.language"
                name="language"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="reading" class="label col-md-2 col-form-label">Reading</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="reading"
                placeholder="reading"
                [(ngModel)]="data.reading"
                name="reading"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="writing" class="label col-md-2 col-form-label">Writing</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="writing"
                placeholder="writing"
                [(ngModel)]="data.writing"
                name="writing"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="speaking" class="label col-md-2 col-form-label">speaking</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="speaking"
                placeholder="speaking"
                [(ngModel)]="data.speaking"
                name="speaking"
                [(disabled)]="disable">
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-md-4">
        <button
              fullWidth
              class="cancel"
              nbButton
              status="danger"
              (click)="cancel()">
              Canccel
        </button>
      </div>
      <div class="col-md-4">
        <button
              fullWidth
              nbButton
              status="warning"
              [hidden]="!del"
              (click)="delete()">
              Delete
        </button>
      </div>
      <div class="col-md-4">
        <button
              fullWidth
              nbButton
              status="success"
              [hidden]="disable"
              (click)="confirm()">
              OK
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
