<nb-card>
  <nb-card-body>
    <form>
      <div class="form-group row">
        <label for="time" class="label col-md-2 col-form-label">Time</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="time"
                placeholder="time"
                [(ngModel)]="data.time"
                name="time"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="project" class="label col-md-2 col-form-label">Project</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="project"
                placeholder="project"
                [(ngModel)]="data.project"
                name="project"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="role" class="label col-md-2 col-form-label">Role</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="role"
                placeholder="role"
                [(ngModel)]="data.role"
                name="role"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="sponsor" class="label col-md-2 col-form-label">Sponsor</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="sponsor"
                placeholder="sponsor"
                [(ngModel)]="data.sponsor"
                name="sponsor"
                [(disabled)]="disable">
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-md-4">
        <button
              fullWidth
              class="cancel"
              nbButton
              status="danger"
              (click)="cancel()">
              Canccel
        </button>
      </div>
      <div class="col-md-4">
        <button
              fullWidth
              nbButton
              status="warning"
              [hidden]="!del"
              (click)="delete()">
              Delete
        </button>
      </div>
      <div class="col-md-4">
        <button
              fullWidth
              nbButton
              status="success"
              [hidden]="disable"
              (click)="confirm()">
              OK
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
