<nb-card>
  <nb-card-body>
    <form>
      <div class="form-group row">
        <label for="time" class="label col-md-2 col-form-label">Time</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="time"
                placeholder="time"
                [(ngModel)]="data.time"
                name="time"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="university" class="label col-md-2 col-form-label">University</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="university"
                placeholder="university"
                [(ngModel)]="data.university"
                name="university"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="major" class="label col-md-2 col-form-label">Major</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="major"
                placeholder="major"
                [(ngModel)]="data.major"
                name="major"
                [(disabled)]="disable">
        </div>
      </div>
      <div class="form-group row">
        <label for="degree" class="label col-md-2 col-form-label">degree</label>
        <div class="col-md-10">
          <input
                type="text"
                nbInput
                fullWidth
                id="degree"
                placeholder="degree"
                [(ngModel)]="data.degree"
                name="degree"
                [(disabled)]="disable">
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="row show-grid">
      <div class="col-md-4">
        <button
              fullWidth
              class="cancel"
              nbButton
              status="danger"
              (click)="cancel()">
              Canccel
        </button>
      </div>
      <div class="col-md-4">
        <button
              fullWidth
              nbButton
              status="warning"
              [hidden]="!del"
              (click)="delete()">
              Delete
        </button>
      </div>
      <div class="col-md-4">
        <button
              fullWidth
              nbButton
              status="success"
              [hidden]="disable"
              (click)="confirm()">
              OK
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
